
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

*,*:before,*:after{
    box-sizing: border-box;
}


/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Noticia Text', serif;*/


/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

body{
    font-family: 'Open Sans', sans-serif;
    color:#545454;
    font-size: 16px;

    background-color: #fff;
}

a{
    text-decoration: none;
}





/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/

.wrapper{
    width: 1280px;
    margin: 0 auto;
}

.margin-top{
    margin-top: 30px;
}

.margin-bottom{
    margin-bottom: 30px;
}



/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/

header h1{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #98c647;
}


nav.princ ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav.princ ul li{
    flex-grow: 1;


}

nav.princ a{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav.princ a:hover{
    background-color: #f4f4f4;
}



section.hero{
    display: flex;
    align-items: flex-start;
}

section.hero img{
    width: 33.3333%;
}













